$color-active:#4eb87d;// 活动颜色
$color-1: #a7a7a7;// cell右侧按钮颜色
$color-2: #333333;// 标题颜色
$color-3:#eaeaea;// 边框颜色
$color-4:#999;
$color-border1:#f6f6f6;// 虚边颜色；
$color-border2:#e6e6e6;//边框颜色
$fontsize-1:36upx;// 大标题大小
$fontsize-2:32upx;// 标题大小
$fontsize-3:30upx;// 描述文字大小
$fontsize-4:26upx;// 描述文字大小
$fontsize-5:24upx;// 描述文字大小
$fontsize-6:22upx;// 时间大小
$fontsize-7:20upx;// 时间大小
$fontsize-8:18upx;
$fontsize-9:28upx;
